*{
  font-family: Arial, Helvetica, sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}

.progress{
  height: 20px;
  width: 500px;
  background-color: rgb(227, 227, 227);
  border: 1px solid rgb(195, 194, 194);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.progress span {
  position:absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

}

.progress div{
  height: 100%;
  background-color: rgb(79, 181, 79);
}